<h3>Ejemplo 2 Reactive Form (FormGroup)</h3>
<div class="example-form padding-10 margin-20">
  Aqui usamos la clase FormGroup para crear grupos de FormControls
  <ul>
    <li>
      Se usa la directiva <b>formGroup</b> para enlazar el formularo del DOM
    </li>
    <li>
      Se usa la directiva <b>formControlName</b> para hacer referencia a la
      propiedad.
    </li>
    <li>
      Usamos el metodo <b>get</b> del formGroup para obtener un formControl
      especifico y acceder a su api ej: fg.get('street')
    </li>
    <li>
      Usamos el metodo <b>controls</b> en la instancia del formGroup para
      obtener un formControl especifico y acceder a su api ej: fb.control.street
    </li>
    <li>
      El form control expone una api con los mismos metodos de
      <b>touched, invalid, dirty</b>
    </li>
    <li>Controlamos los requisitos de los campos desde la clase</li>
    <li>
      Podemos verificar el estado del formulario y sus controles tanto desde la
      clase y desde el template
    </li>
    <li>
      Establecemos el valor de una propiedad a traves del método
      <b>setValue</b> del
      <b>FormControl</b>
    </li>
    <li>
      En la version 17 los formularios son estrictos, para usar formularios sin
      ser estrictos usar <b>UntypedFormGroup</b> y <b>UntypedFormControl</b>
    </li>
  </ul>
</div>
<div class="example-form">
  <form [formGroup]="addressFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Calle</mat-label>
      <input
        matInput
        placeholder="Ingresa la calle"
        name="street"
        formControlName="street"
        required
      />
      @if ( addressFormGroup.get('street')!.invalid &&
      (addressFormGroup.get('street')!.touched ||
      addressFormGroup.get('street')!.dirty)) {
      <mat-error>La calle es requerida.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ciudad</mat-label>
      <input
        matInput
        placeholder="Ingresa la ciudad"
        name="city"
        formControlName="city"
      />
      @if (!cityIsValid()) {
      <mat-error>La ciudad es requerida.</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Estado</mat-label>
      <input
        matInput
        placeholder="Ingresa el estado (Opcional)"
        name="state"
        formControlName="state"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Código Postal</mat-label>
      <input
        type="number"
        matInput
        placeholder="Ingresa el código postal"
        name="zip"
        formControlName="zip"
      />
      @if (addressFormGroup.controls.zip.invalid &&
      addressFormGroup.controls.zip.touched ||
      addressFormGroup.controls.zip.invalid &&
      addressFormGroup.controls.zip.dirty ) {
      <mat-error
        >El codigo postal es requerido y debe ser mayor que 100</mat-error
      >
      }
    </mat-form-field>
    <div class="margin-b-10">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!addressFormGroup.valid"
      >
        Enviar
      </button>
    </div>
    <div class="margin-b-10">
      <button type="submit" mat-raised-button color="primary">
        Enviar sin validar
      </button>
    </div>
    <div class="margin-b-10">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="setCityValue('San Francisco')"
      >
        Establecer San Francisco como ciudad
      </button>
    </div>
    <div class="example-form">
      Form Student Status: {{ addressFormGroup.status | json }}
    </div>
  </form>
</div>
