<h3>Ejemplo 4 Reactive Form</h3>
<div class="example-form padding-10 margin-20">
  En este ejemplo usamos FormGroups anidados
  <ul>
    <li>
      Usamos <b>FormBuild</b> para crear los <b>FormGroup</b>> a traves del
      metodo <b>group</b>
    </li>
    <li>
      <b>FormBuild</b> expone una api que permite crear elementos del formulario
      de forma dinamica usando el metodo
      <b>control</b>
      y generar lista de controles usando el metodo
      <b>array</b>
    </li>
  </ul>
</div>
<div>
  <h1>Datos del estudiante</h1>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="margin-b-10 example-form">
        <mat-form-field appearance="fill">
          <mat-label>Nombre completo</mat-label>
          <input
            matInput
            placeholder="Ingresa nombre completo"
            formControlName="fullName"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ingresa email" formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Edad (Min 18)</mat-label>
          <input
            type="number"
            matInput
            placeholder="Ingresa edad"
            formControlName="age"
          />
        </mat-form-field>
        <div formArrayName="phones">
          <h2>Telefonos</h2>
          <button mat-button type="button" (click)="addPhone()">
            Agregar otro telefono
          </button>
          <div *ngFor="let phone of getPhones().controls; let i = index">
            <div style="display: inline; padding: 0.4em; width: 50%">
              <label>Telefono {{ i + 1 }}</label>
              <input
                matInput
                type="number"
                placeholder="Ingresa telefono"
                [formControlName]="i"
              />
            </div>
            <div style="display: inline">
              <button type="button" (click)="removePhone(i)">-</button>
            </div>
          </div>
        </div>
      </div>
      <div class="margin-b-10">
        <mat-divider></mat-divider>
      </div>
      <div formGroupName="address">
        <div class="example-full-width">
          <h3>Direccion</h3>
        </div>
        <div class="address-group">
          <mat-form-field>
            <mat-label>Calle</mat-label>
            <input
              matInput
              placeholder="Ingresa la calle"
              name="street"
              formControlName="street"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input
              matInput
              placeholder="Ingresa la ciudad"
              name="city"
              formControlName="city"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Estado</mat-label>
            <input
              matInput
              placeholder="Ingresa el estado (Opcional)"
              name="state"
              formControlName="state"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Código Postal (Mayor que 100)</mat-label>
            <input
              type="number"
              matInput
              placeholder="Ingresa el código postal"
              formControlName="zip"
            />
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-label>Aceptar gestion de datos</mat-label>
        <mat-checkbox formControlName="acceptDataManage"
          >Accepta Gestion de sus datos</mat-checkbox
        >
        @if (acceptDataManageControlIsInvalid()) {
        <mat-error>Debe aceptar la gestion de sus datos</mat-error>
        }
      </div>
    </div>
    <div class="margin-b-10">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!studentForm.valid"
      >
        Enviar
      </button>
    </div>
    <div class="margin-b-10">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="fillRequiredFields()"
      >
        Rellenar datos requeridos
      </button>
    </div>
    <div class="margin-b-10">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="resetStudentForm()"
      >
        Reiniciar formulario
      </button>
    </div>
    <div class="example-form">
      Form Student Value: {{ studentForm.value | json }}
    </div>
    <div class="example-form">Form is valid: {{ studentForm.valid }}</div>
  </form>
</div>
