<div>
  <h2>Template form</h2>
</div>
<div>
<form #miformulario2="ngForm" (ngSubmit)="enviarFormulario(miformulario2)">
  <input
    [ngStyle]="{ display: 'block' }"
    name="nombre"
    [(ngModel)]="nombre"
    #nombreRef="ngModel"
    required
  />
  <div *ngIf="nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)">
    El nombre es requerido
  </div>
  <input
    [ngStyle]="{ display: 'block' }"
    name="email"
    [(ngModel)]="email"
    #emailRef="ngModel"
    email
  />
  <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
    El email es requerido
  </div>
  <button [disabled]="miformulario2.invalid" type="submit">Submit</button>
</form>
</div>
