<header>
  <h1>Ejemplos</h1>
</header>
<main>
  <div>
    <a routerLink="/" routerLinkActive="router-link-active">Inicio</a>
  </div>
  <div>
    <a routerLink="/temp-form-1" routerLinkActive="router-link-active">Template form 1</a>
  </div>
  <div>
    <a routerLink="/react-form-1" routerLinkActive="router-link-active">Reactive form 1</a>
  </div>
  <div>
    <a routerLink="/temp-form-2" routerLinkActive="router-link-active">Template Form 2</a>
  </div>
  <div>
    <a routerLink="/react-form-2" routerLinkActive="router-link-active">Reactive Form 2</a>
  </div>
  react-form-2
</main>
<div class="main">
  <router-outlet></router-outlet>
</div>

