<mat-toolbar>
  <span>Ejemplos de Angular</span>
</mat-toolbar>
<div>
  <div>
    <div>
      <button mat-button routerLink="/">Inicio</button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/temp-form-1">Simp-Template-Form-1</button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/temp-form-2">Simp-Template-Form-2</button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/temp-form-3">Simp-Template-Form-3</button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/temp-form-4">Simp-Template-Form-4</button>
    </div>
    <div>
      <button mat-button routerLink="/react-form-1">
        Simp-Reactive-Form-1
      </button>
    </div>
    <div>
      <button mat-button routerLink="/react-form-2">
        Simple Reactive-Form-2 (Form Group)
      </button>
    </div>
    <div>
      <button mat-button routerLink="/react-form-3">
        Reactive-Form-3 (FormGroup anidado)
      </button>
    </div>
  </div>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
