<div>
  <button mat-button [matMenuTriggerFor]="formmenu">Formularios</button>
  <mat-menu #formmenu="matMenu">
    <div>
      <button mat-button routerLink="/temp-form-1">
        Formulario Basado en Plantilla 1
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/temp-form-2">
        Formulario Basado en Plantilla 2
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/temp-form-3">
        Formulario Basado en Plantilla 3
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/temp-form-4">
        Formulario Basado en Plantilla 4
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/react-form-1">
        Formulario Reactivo 1
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/react-form-2">
        Formulario Reactivo 2
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/react-form-3">
        Formulario Reactivo 3
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/react-form-4">
        Formulario Reactivo 4
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/react-form-5">
        Formulario Reactivo 5
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/react-form-6">
        Formulario Reactivo 6
      </button>
    </div>
    <mat-divider class="menu-delimiter"></mat-divider>
    <div>
      <button mat-button routerLink="/react-form-7">
        Formulario Reactivo 7
      </button>
    </div>
  </mat-menu>
</div>
