<h1>Vistas diferibles</h1>
<div class="margin-b-10">
  <div class="margin-b-10">
    <pre class="example-code">
      <code class="example-code">
          {{ example_defer_code }}
      </code>
    </pre>
  </div>
  <div class="margin-b-10">
    <h2>Disparadores que podemos usar en el bloque defer</h2>
    <ul>
      <li>on idle</li>
      <li>on viewport</li>
      <li>on interaction (eventos: click, keydown)</li>
      <li>on hover (eventos: mouseenter, focusin)</li>
      <li>on inmediate</li>
      <li>on timer</li>
    </ul>
  </div>
  <div class="margin-b-10">
    <h2>Ejemplo 1 - Carga defecto</h2>
    <p>
      El contenido cargado perezosamente se mostrará en el
      <b>cuadro verde</b> cuando el navegador cargue el contenido principal
    </p>
    <em
      >Para probar el ejemplo, limitar la red a 3g rapido o 3g lento para
      visualizar el ejemplo correctamente</em
    >
  </div>
  <div>
    <div>Contenido sin carga perezosa</div>
    <div class="bg-color-green min-h-2em">
      @defer {
        <app-defered-content-1 />
      }
    </div>
  </div>
</div>

<div class="margin-b-10">
  <div class="margin-b-10">
    <h2>Ejemplo 2 - Con bloque &#64;placeholder</h2>
    <p>
      El contenido cargado perezosamente se mostrará en el
      <b>cuadro verde</b> al pasar 5 segundos. 5 segundos es el tiempo mínimo
      que se mostrará el contenido del bloque <b>placeholder</b> y después
      cambiará al contenido final
    </p>
  </div>
  <div>
    <div>Contenido sin carga perezosa</div>
    <div class="bg-color-green min-h-2em">
      @defer {
        <app-defered-content-1 />
      } @placeholder (minimum 5000ms) {
        <p>Marcador mostrado durante 5 segundo</p>
      }
    </div>
  </div>
</div>

<div class="margin-b-10">
  <div class="margin-b-10">
    <h2>Ejemplo 3 - Con bloque &#64;loading</h2>
    <p>
      El contenido cargado perezosamente se mostrará en el
      <b>cuadro verde</b> pasado 5s si su carga diferida demoró mas de 100ms
      sino se muestra al cargarse normalmente
    </p>
    <p>
      usamos dos parametros opcionales en el bloque &#64;loading, after y
      minimun
    </p>
    <p>
      <b>after:</b> usado como el tiempo a partir del cual el loader se podrá
      mostrar si no se ha cargado el defer
    </p>
    <p>
      <b>minimum:</b> tiempo minimo que se mostrara el bloque &#64;loading si ha
      llegado a cargarse
    </p>
    <em>Para probar el ejemplo probarlo con la red limitada y sin limitar</em>
  </div>
  <div>
    <div>Contenido sin carga perezosa</div>
    <div class="bg-color-green min-h-2em">
      @defer {
        <app-defered-content-1 />
      } @loading (after 100ms; minimum 5s) {
        <p>Loader mostrado durante 5 segundo</p>
        <img
          style="width: 2em"
          alt="loading..."
          src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca.gif"
        />
      }
    </div>
  </div>
</div>

<div class="margin-b-10">
  <div class="margin-b-10">
    <h2>Ejemplo 4 - Con bloque &#64;error</h2>
    <p>
      Si el contenido cargado perezosamente falla se muestra el del bloque error
      de forma inmediata
    </p>
    <em>Para probar el ejemplo probarlo con la red limitada y sin limitar</em>
  </div>
  <div>
    <div>Contenido con error</div>
    <div class="bg-color-green min-h-2em">
      @defer {
        <app-defered-content-1 />
      } @placeholder (minimum 5000ms) {
        <p>Marcador mostrado durante 5 segundo</p>
      } @error {
        <p>Falló la carga del componente</p>
      }
    </div>
  </div>
</div>

<div class="margin-b-10">
  <div class="margin-b-10">
    <h2>Ejemplo 5 - Con Trigger</h2>
    <p></p>
  </div>
  <div>
    <div>Contenido con trigger interaction</div>
    <div class="bg-color-green min-h-2em">
      <button #clickbutton>Haz click</button>
      @defer (on interaction(clickbutton); on timer(10s)) {
        <app-defered-content-1 />
      } @placeholder () {
        <p>Marcador mostrado durante 10 segundo si no hay interaccion</p>
      }
    </div>
  </div>
  <div style="min-height: 10em;">
    <div>Contenido con trigger viewport</div>
    <div class="bg-color-green min-h-2em">
      @defer (on viewport(memuestro);) {
        <img style="width: 200px; height: 200px;" src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca.gif">
      } @placeholder () {
        <p>Marcador mostrado temporalmente</p>
      }
    </div>
  </div>
  <div #memuestro>me muestro</div>
</div>

<div class="margin-b-10">
  <div class="margin-b-10">
    <h2>Ejemplo 6 - Con Trigger usando when</h2>
    <p></p>
  </div>
  <div>
    <div>Contenido con trigger</div>
    <div><button (click)="setAllowedShow();">Permitir mostrar</button></div>
    <div class="bg-color-green min-h-2em">
      @defer (on interaction; when allowedShow) {
        <app-defered-content-1 />
      } @placeholder () {
        <p>Marcador mostrado hasta que no se permita mostrar el contenido</p>
      }
    </div>
  </div>
</div>

<div class="margin-b-10">
  <div class="margin-b-10">
    <h2>Ejemplo 7 - On inmediate</h2>
    <p></p>
  </div>
  <div>
    <div>Contenido con trigger inmediate</div>
    <div class="bg-color-green min-h-2em">
      @defer (on immediate) {
        <img style="width: 200px; height: 200px;" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2016/07/pokemon-go_0.jpg?tf=1200x"/>
      } @placeholder () {
        <p>Marcador mostrado hasta que no se permita mostrar el contenido</p>
      }
    </div>
  </div>
</div>


<div class="margin-b-10 margin-t-10">
  <mat-divider></mat-divider>
</div>
<div class="margin-b-10 margin-t-50 margin-b-50">
  <div>
    <h2>Ejemplo Tabs - Con Tabs</h2>
    <p></p>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab label="Tab inicial">tab inicial</mat-tab>
      <mat-tab label="Ej 1">
        <div><p>Ejemplo de carga diferida al interactuar en el area del placeholder</p></div>
        <div class="bg-color-green min-h-2em">
          @defer (on interaction) {
            <img style="width: 200px; height: 200px;" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2016/07/pokemon-go_0.jpg?tf=1200x">
          } @placeholder (minimum 3000ms) {
            <p>Cargando imagen...</p>
          }
        </div>
      </mat-tab>
      <mat-tab label="Ej 2">
        <div class="bg-color-green min-h-2em">
          @defer (on interaction; prefetch on idle) {
            <img style="width: 200px; height: 200px;" src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca.gif">
          } @placeholder (minimum 1000ms) {
            <p>Cargando imagen...</p>
          }
        </div>
      </mat-tab>
      <mat-tab label="Ej 3">
        <div class="bg-color-green min-h-2em">
          @defer (on interaction; prefetch when prefechData) {
            <img style="width: 200px; height: 200px;" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2016/07/pokemon-go_0.jpg?tf=1200x">
          } @placeholder (minimum 1000ms) {
            <p>Cargando imagen...</p>
          }
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="margin-b-10 margin-t-50">
  <div style="height: 10em;"></div>
</div>

