<p>
  change-det-container works!
</p>
<button (click)="changeProfileValue()">Change Value in list</button>
<button (click)="changeProfileValueOtherOption()">Change Value in list</button>
<button (click)="changeReactiveValue()">Change Reactive Value</button>
<app-change-det-presenter1 [profile]="profile" [name]="name" [reactiveValue$]="reactiveValue$"/>
<app-change-det-presenter2/>

<div>
  <div class="with-half position-lef"><app-change-det-presenter3/></div>
  <div class="with-half position-lef"><app-change-det-presenter3/></div>
</div>