<h1>
  Change Detection Container Component!
</h1>
<button (click)="changeNamePresenter1Value()">cambiar valor de la propiedad name</button>
<button (click)="changeProfileValue()">cambiar valor del perfil misma referencia</button>
<button (click)="changeProfileValueOtherOption()">cambiar valor del perfil otra referencia</button>
<button (click)="changeReactiveValue()">Change Reactive Value</button>
<app-change-det-presenter1 [profile]="profile" [name]="name" [reactiveValue$]="reactiveValue$"/>
<app-change-det-presenter2 [propiedadEntrada]="name" (valorSalida)="emitirValorSalidaPresenter2($event)"/>


<button (click)="addNewPerson()">Add new Person</button>
<button (click)="launchIntervalIntoZone()">launchIntervalIntoZone</button>
<button (click)="launchIntervalOutsideZone()">launchIntervalOutsideZone</button>
<div>
  <div class="margin-b-10 margin-t-50">
    <label>Buscar persona</label>
    <input placeholder="indique el nombre" [(ngModel)]="filterPersonName" type="text">
  </div>
  <app-change-det-search-input (add)="addFilterPersonNameValueEvent($event)"/>
  <div class="width-100 ">
    <div class="position-lef"><app-change-det-presenter3 [listOfPersons]="personList2" [filter]="getFilterPersonNameWithGoodPerformance()"/></div>
    <div class="position-lef border-left-black"><app-change-det-presenter3 [listOfPersons]="personList2" [filter]="getFilterPersonNameWithGoodPerformance()"/></div>
    <div class="position-lef border-left-black"><app-change-det-presenter4 [listOfPersons]="personData$"/></div>
  </div>
</div>

