<h1>
  Change Detection Container Component!
</h1>
<button (click)="changeProfileValue()">Change Value in list</button>
<button (click)="changeProfileValueOtherOption()">Change Value in list</button>
<button (click)="changeReactiveValue()">Change Reactive Value</button>
<app-change-det-presenter1 [profile]="profile" [name]="name" [reactiveValue$]="reactiveValue$"/>
<app-change-det-presenter2/>

<button (click)="addNewPerson()">Add new Person</button>
<button (click)="launchIntervalIntoZone()">launchIntervalIntoZone</button>
<button (click)="launchIntervalOutsideZone()">launchIntervalOutsideZone</button>
<div>
  <div class="position-lef"><app-change-det-presenter3 [listOfPersons]="personList"/></div>
  <div class="position-lef border-left-black"><app-change-det-presenter3 [listOfPersons]="personList"/></div>
  <div class="position-lef border-left-black"><app-change-det-presenter4 [listOfPersons]="personList2"/></div>
</div>
