/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.menu-delimiter {
  min-width: 150px;
  max-width: 200px;
  width: 100%;
}

.width-100 {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.address-group {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

.padding-10 {
  padding: 10px;
}

.margin-10 {
  margin: 10px;
}

.margin-b-50 {
  margin-bottom: 50px;
}

.margin-t-50 {
  margin-top: 50px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-20 {
  margin: 20px;
}

.bg-color-green {
  background-color: rgb(167, 253, 210);
}

.min-h-2em {
  min-height: 2em;
}
