<mat-grid-list cols="12" rowHeight="1:1">
  <mat-grid-tile
    ><div>
      <button mat-button routerLink="/">Inicio</button>
    </div></mat-grid-tile
  >
  <mat-grid-tile><app-menu-forms /></mat-grid-tile>
  <mat-grid-tile><app-menu-block-control /></mat-grid-tile>
  <mat-grid-tile><button mat-button routerLink="/defer-1">Vistas diferibles</button></mat-grid-tile>
  <mat-grid-tile><button mat-button routerLink="/change-detection">Change detection</button></mat-grid-tile>
  <mat-grid-tile><button mat-button routerLink="/signal">Signal</button></mat-grid-tile>
</mat-grid-list>
